@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  background: #fafafa;
  /* min-height: 100vh; */
  display: flex;
  gap: 200px;
  padding: 0px 156px;
  position: relative;
}
.hedar-background {
  bottom: 0;
  right: 100px;
  position: absolute;
  height: 415px;
  width: 831px;
  background-image: url(./images/Ellipse\ 257.png),
    url(./images/Ellipse\ 256.png);
  background-repeat: no-repeat;
  background-position: bottom;
  fill: linear-gradient(180deg, #ffd3d3 0%, rgba(255, 89, 89, 0) 100%);
}

.header-text-container {
}

.header-title {
  padding-top: 121px;
  font-family: "Inter", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
}
.header-description {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
}
.btn-primary {
  border-radius: 5px;
  background: #ff5959;
  padding: 16px 12px;
  border: 0;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  text-align: center;
}
.btn-video {
  margin-left: 51px;
  border: 0;
  color: #707070;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
}
.header-image {
  padding-top: 66px;
  padding-right: 100px;
  z-index: 10;
}
/* donate money style */
.donate {
}
.hedar-primary {
  margin-top: 130px;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.donate-money-text {
  margin-top: 20px;
  padding: 0 375px;
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
.money-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* justify-content: center; */
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.money-text {
  color: #707070;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
}
.money-amount:hover {
  color: #ff5959;
}
.money-amount {
  width: 100%;
  padding: 44px 0px;
  border-radius: 5px;
  border: 2px solid transparent;
}
.money-amount:hover {
  border: 2px solid #ff5959;
  background: #fee;
  color: #ff5959;
}
.other-Amount-container {
  padding: 0 385px;
  stroke-width: 1px;
  stroke: #fff0f0;
}
.other-amount {
  margin-bottom: 10px;
  color: #b3b3b3;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 60px;
}

.other-Amount-container hr {
  margin-bottom: 46px;
  stroke-width: 1px;
  stroke: #dadada;
}
.btn-center {
  text-align: center;
}

.donate-description {
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* plan style */
.plan-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.donate-plan-container {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 0 35px;
  padding-top: 63px;
  padding-bottom: 54px;
}
.plan-color1 {
  background: rgba(79, 157, 166, 0.1);
}
.plan-color2 {
  background: rgba(255, 89, 89, 0.1);
}
.plan-color3 {
  background: #fff4d6;
}
.donate-plan-header {
  margin-top: 32px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 600;
}
.plan-description {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

/* Contribute Section */
.Contribute-container {
  display: flex;
  gap: 84px;
  justify-content: center;
}
.Contribute-container2 {
  margin-top: 186px;
}
.Contribute-header {
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}
.Contribute-p {
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.Contribute-image {
  margin-top: 131px;
}

/* update style */
.update-description {
  text-align: center;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}

.update-input-container {
  display: flex;
  background-color: #fff4d6;
  justify-content: center;
  padding: 75px 190px;
  margin: 0 316px;
  margin-bottom: 130px;
}
.update-input {
  border-radius: 5px 0px 0px 5px;
  background: #d9d9d9;
  border: 2px solid transparent;
  display: block;
  height: 55px;
  padding-left: 15px;
  width: 275px;
}

/* footer style */
.footer-container {
  background: var(--Default-Black, #0b0d17);
  padding: 43px 629px 42px 653px;
  text-align: center;
}
.footer-header {
  font-family: "Lobster", sans-serif;
  color: #ff5959;
  font-size: 36px;
  font-weight: 400;
}
.footer-text {
  color: var(--Text-Gray-300, #d9dbe1);
  font-size: 14px;
  font-weight: 400;
  margin-top: 19px;
}
